<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
  <% switch(style) { case '1' : %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme1.css" />
  <% break; case '2' : %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme2.css" />
  <% break; case '3' : %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/theme3.css" />
  <% break; default: %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <% } %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        <%= title %>
      </h1>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>Choose your page theme:</h2>
      <form action="/ta05/change-style" method="POST">
        <select id="cssStyles" name="cssStyles">
          <option value='0'>
            Default (Blue)
          </option>
          <option value='1'>
            Purple
          </option>
          <option value='2'>
            Orange
          </option>
          <option value='3'>
            Green
          </option>
        </select>
        <button class="btn" type="submit">Change Style</button>
      </form>
    </div>
    <hr>

    <div>
      <h2>Counter: <%= counter %></h2>
      <div class="counter-form">
        <form action="/ta05/counter" method="POST">
          <input type="hidden" name="constant" value="1">
          <button class="btn" type="submit">+</button>
        </form>
        <form action="/ta05/counter" method="POST">
          <input type="hidden" name="constant" value="-1">
          <button class="btn" type="submit">-</button>
        </form>
        <form action="/ta05/reset" method="POST">
          <input type="hidden" name="reset" value="true">
          <button class="btn" type="submit">Reset</button>
        </form>
      </div>
    </div>
  </div>


</body>

</html>